@media only screen and (max-width: 960px) {
    #post-thumbnail {
      display: none;
    }
    #header { margin-top: 0; }
    #text-logo a { font-size: 1.1em; }

  }
  
  @media only screen and (min-width: 1301px) {
    .footer-box {
      width: 365px;
    }
  
    .blog-entry img {
      transition: all 0.5s ease;
    }
  
    .blog-entry img:hover {
      transform: scale(1.05);
      /* override parent theme */
      filter: brightness(100%) saturate(100%);
      opacity: 1;
    }
  }
  
  @media only screen and (min-width: 960px) and (max-width: 1300px) {
    #wrap { width: 968px }
  }
  
  @media only screen and (min-width:768px) and (max-width:959px) { 
      #wrap { width: 694px }
  }